.jumbotron {
    background-image: url('photos/forest1.jpg');
    display: flex;
    background-size: cover;
    height: 400px;
    background-position: 50%;

}

.jumbotron2 {
    background-image: url('photos/piano5.jpg');
    display: flex;
    background-size: cover;
    height: 400px;
    background-position: bottom ;

}

body {
    background-image: url('https://content.codecademy.com/courses/learn-css-selectors-visual-rules/hypnotize_bg.png');
  }

nav {
    display: flex;
    justify-content: flex-end;
    padding: 40px 0px 0px 120px;
    
}

p {
    font-family:Georgia,'Times New Roman', Times, serif;
    padding: 0px;
}




a {
    margin: 10px;
}


.col-6 h1 {
    position: absolute;
    padding: 30px 20px 20px 80px;}

.row {
    height: 100px;
}



.jumbotron h1 {
    font-weight: bold;
    font-size: 2cm;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    
    }


.jumbotron h2 {
    font-family: 'Times New Roman', Times, serif;
    color:white;
}

.jumbotron .row {
    height: 40px;
    padding: 100px 0px 0px 40px;
}

.container .col-sm-2 p {
    margin: 20px;
}

header h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

ul {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.jumbotron2 h1 {
    font-weight: bold;
    font-size: 2cm;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    
    }


.jumbotron2 h2 {
    font-family: 'Times New Roman', Times, serif;
    color:white;
}

.jumbotron2 .row {
    height: 40px;
    padding: 100px 0px 0px 40px;
}

.container p {
    padding: 20px;
}

.container .row img{
    margin: 10px;

}

h3 {
    margin-left: 155px;
    font-weight: bold;
    box-sizing: border-box;
    font-size: 20px;
}

footer {
    display: block;
}

.copyright {
    margin: 0px 0px 0px 900px;
    padding: 5px;
    box-sizing: border-box;
}